@font-face {
  font-family
  :
   
  "Pacifico"
  ;
  
    
  font-style
  :
   
  normal
  ;
  
    
  font-weight
  :
   
  400
  ;
  
    
  src
  :
   
  local("Pacifico Regular")
  ,
   
  local("Pacifico-Regular")
  ,
   
  url("https://fonts.gstatic.com/s/pacifico/v7/fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA.ttf")
   
  format("truetype")
  ;
}